section.new-tweet {
  background: #EEEEEE;
  border-radius: 10px;
  padding:10px;
  margin: 10px;
}

section.new-tweet h2{
  margin-top: 1px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
}

section.new-tweet textarea {
  width: 410px;
  height: 60px;
}

section.new-tweet span.counter {
  position: relative;
  left: 320px;
}

section.new-tweet p.error-message {
  color: red;
}